<a
    class="rounded-full bg-[#fef9ff] border border-[#eadfed] py-1 px-3 shadow-md text-[#2f2331]
    flex justify-center items-center gap-x-2
    hover:scale-105 active:scale-95 transition"
    {...Astro.props}
    target="_blank"
    rel="noopener"
>
    <slot />
</a>