---
import Icon from '@/icons/Discord.astro'
---

<a
  href="https://github.com/xdrygo"
  target="_blank"
  rel="noopener noreferrer"
  class="group p-8 text-[#97aeff] hover:text-[#c3d0ff] rounded-4xl transition-all duration-300 border-4 w-full flex flex-col justify-center items-center
  bg-[#7289da]/5 hover:bg-[#7289da]/15 border-[#7289da]/30 hover:border-[#7289da]"
>
  <Icon class="w-24 h-24 transition-transform duration-300 group-hover:scale-110" />
  <span class="mt-4 text-3xl font-semibold">Discord</span>
</a>

<style>
  .github {
    grid-area: 2 / 4 / 4 / 5;
  }
</style>