---
import Icon from '@/icons/GitHub.astro'
---

<a
  href="https://github.com/xdrygo"
  target="_blank"
  rel="noopener noreferrer"
  class="group p-8 text-[#e6e6e6] hover:text-[#fff] rounded-4xl transition-all duration-300 border-4 w-full flex flex-col justify-center items-center
  bg-[#fff]/5 hover:bg-[#fff]/15 border-[#fff]/30 hover:border-[#fff]"
>
  <Icon class="w-24 h-24 transition-transform duration-300 group-hover:scale-110" />
  <span class="mt-4 text-3xl font-semibold">GitHub</span>
</a>

<style>
  .github {
    grid-area: 2 / 4 / 4 / 5;
  }
</style>