---
import MusicIcon from "@/icons/Music.astro";
---

<div
  class="group p-8 text-[#ffe5ff] rounded-4xl transition-all duration-300 border-4 w-full flex flex-col justify-center items-center
  bg-[#df88e0]/10 border-[#feb9ff]/30"
>
  <img
    src="/drygo.webp"
    alt="Avatar de Drygo"
    class="w-30 h-30 rounded-full shadow-lg mb-2 object-cover"
  />
  <h2 class="text-4xl font-bold text-[#ffe5ff]">Drygo</h2>
  <a
    href="https://open.spotify.com/track/0PJRvddGH64RBFkFyjbY5T"
    target="_blank"
    rel="noopener noreferrer"
    class="mt-2 text text-[#fff3ff] text-center hover:stroke-4 hover:scale-103 transition-all hover:font-semibold"
  >
    <div class="group flex items-center gap-2">
      <MusicIcon
        class="w-5 h-5 text-[#ffe5ff] transition-colors duration-200"
      />
      <div class="font-mono font-md">Me gusta tu luz de tus ojito' tierno'</div>
    </div>
  </a>
</div>
