---
import Icon from '@/icons/Twitch.astro'
---

<a
  href="https://www.twitch.tv/eldrygo"
  target="_blank"
  rel="noopener noreferrer"
  class="group p-8 text-[#b899ff] hover:text-[#cfbbff] rounded-4xl transition-all duration-300 border-4 w-full flex flex-col justify-center items-center
  bg-[#9c70ff]/5 hover:bg-[#9c70ff]/15 border-[#9c70ff]/30 hover:border-[#9c70ff]"
>
  <Icon class="w-24 h-24 transition-transform duration-300 group-hover:scale-110" />
  <span class="mt-4 text-3xl font-semibold">Twitch</span>
</a>

<style>
  .github {
    grid-area: 2 / 4 / 4 / 5;
  }
</style>