---
import Icon from '@/icons/X.astro'
---

<a
  href="https://x.com/eldrygo"
  target="_blank"
  rel="noopener noreferrer"
  class="group p-8 text-[#c7e9ff] hover:text-[#d9f0ff] rounded-4xl transition-all duration-300 border-4 w-full flex flex-col justify-center items-center
  bg-[#b8e3ff]/5 hover:bg-[#b8e3ff]/15 border-[#b8e3ff]/30 hover:border-[#b8e3ff]"
>
  <Icon class="w-24 h-24 transition-transform duration-300 group-hover:scale-110" />
  <span class="mt-4 text-3xl font-semibold">X</span>
</a>

<style>
  .github {
    grid-area: 2 / 4 / 4 / 5;
  }
</style>