---
import Icon from '@/icons/YouTube.astro'
---

<a
  href="https://www.youtube.com/@eldrygo"
  target="_blank"
  rel="noopener noreferrer"
  class="group p-8 text-[#ff403a] hover:text-[#ff7f7b] rounded-4xl transition-all duration-300 border-4 w-full flex flex-col justify-center items-center
  bg-[#ff5752]/5 hover:bg-[#ff5752]/15 border-[#ff5752]/30 hover:border-[#ff5752]"
>
  <Icon class="w-24 h-24 transition-transform duration-300 group-hover:scale-110" />
  <span class="mt-4 text-3xl font-semibold">YouTube</span>
</a>

<style>
  .github {
    grid-area: 2 / 4 / 4 / 5;
  }
</style>